<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.sp.mapper.BookMapper">
    <update id="updateEvaluation">
        update book b SET evaluation_score = (
            select ifnull(avg(score),0) from evaluation where book_id = b.book_id and state='enable'
            ),evaluation_quantity = (
            select ifnull(count(*),0) from evaluation where book_id = b.book_id and state='enable'
            )
    </update>
<!--    小于等于必须转义，否则会出错。-->
<!--    结果类型是一条记录的结果类型-->
    <select id="monthBookId" resultType="Long">
        SELECT
        DISTINCT b.book_id
        FROM book b,evaluation e
        where b.book_id=e.book_id AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(e.create_time)
    </select>
    <select id="yearBookId" resultType="Long">
        select
        DISTINCT book.book_id
        from book LEFT JOIN evaluation ON book.book_id=evaluation.book_id
        where YEAR(evaluation.create_time)=YEAR(NOW())
    </select>
    <select id="userReadState" resultType="com.lsh.sp.pojo.Book">
        SELECT b.book_id bookId,
        b.book_name bookName,
        b.sub_title subTitle,
        b.author author,
        b.cover cover,
        b.description description,
        b.category_id categoryId,
        b.evaluation_score evaluationScore,
        b.evaluation_quantity evaluationQuantity,
        b.deleted deleted
        FROM book b, member_read_state mrs
        WHERE b.book_id=mrs.book_id
        AND mrs.read_state=#{readState}
        AND mrs.member_id=#{memberId}
    </select>

</mapper>