<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.sp.mapper.EvaluationMapper">
<!--    <resultMap id="scoreStatisticsMap" type="Score">-->
<!--        -->
<!--    </resultMap>-->
    <select id="scoreStatistics" parameterType="Long" resultType="com.lsh.sp.pojo.vo.ScoreStatistics">
        SELECT b.book_name bookName,e.score score,count(*) sum
        FROM evaluation e, book b
        WHERE e.book_id=#{bookId} and e.book_id=b.book_id
        GROUP BY b.book_name,e.score
        ORDER BY e.score ASC

    </select>
    <select id="selectEvaluationState" resultType="com.lsh.sp.pojo.vo.EvaluationBookMemberVo">
        SELECT m.nickname,m.username,b.book_name,e.content,e.enjoy,e.score,e.create_time,e.disable_reason,e.disable_time,e.state,e.evaluation_id
        FROM evaluation e,member m,book b
        where e.member_id=m.member_id AND b.book_id=e.book_id
    </select>

</mapper>